{% extends "base.html" %}
{% block title %}Welcome to Topsum{% endblock %}
{% block content %}<h1>Permission denied! (403)</h1>
<p>Ooh, ohh, we've been naughty, haven't we? The reason you may not view this page was:</p><blockquote><strong>{{exception}}</strong></blockquote>{% endblock %}
