{% load static %}<html>
  <head><title>{% block title %}Topsum{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static "style.css" %}">
    {% block extraheader %}{% endblock %}</head>
  <body><div id="header">{% block header %}<h1><a href="{% url 'root' %}">Topsum</a></h1>{% endblock %}</div>
    <div id="breadcrumb">{% block breadcrumb %}<a href="{% url 'root' %}">Home</a>{% endblock %}</div>
    <div id="navbar">{% block navbar %}{% endblock %}</div>
    {% if messages %}<div id="messages"><ul class="messages">
    {% for message in messages %}<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>{% endfor %}</ul>
    </div>{% endif %}
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">{% block footer %}<hr/>Powered by topsum. Licensed under the GPLv3{% endblock %}</div="footer"></body>
</html>
