html {
  background-color: #C1CFFF;
  font-family: Verdana, sans-serif;}
body{
  margin: 0px;}
#header{
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  text-align:center;
  text-shadow: 2px 2px 5px black;
  background-color: #88CC77;
  border-bottom: 1px solid gray;
}
#header>h1{
    margin:0em;
}
#header>h1>a{ /*site title*/
    text-decoration: none;
    color: black;
}
#content{
  margin: 8px;}

ul.errorlist {
  border: 5px red solid;
  font-weight: bold;}
.button {
  padding: 3px 10px;
  margin: 10px 5px;
  border: black 1px solid;
  background-color: darkgreen;
  border-radius: 5px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  text-color:white;}
.button a {
  color: white;
  text-decoration: none;
#footer{
  font-size: small;
  text-align:center;}
#footer hr{
    margin: 0px 10%;
    color: #888888;}
