{% extends "topsum/company.html" %}
{% block content %}
<h1>Company '{{company}}'</h1>

<table border=1>
  <tr><th>Name</th><th>Logo</th></tr>
  <tr><td>{{company.name}}</td><td><img src="{{object.logo}}"/></td></tr>
</table>
<h2>Periods:</h2>

{% with ''|center:company.globalenv.total_periods as range %}
{% for _ in range %}
    {%if company.globalenv.current_period >= forloop.counter %}<a href="{% url 'compperiod-detail' comp=company.pk p=forloop.counter %}">{{ forloop.counter }}</a> {%else%}<span style="grayed">{{ forloop.counter }}</span> {%endif%}
{% endfor %}
{% endwith %}

<h2>Employees:</h2>
<ul>
{% for employee in company.employee_set.all %}
<li>{{employee}}: {{employee.role}}</li>
{% endfor %}
</ul>

<h2>Notes</h2>
<p>This company is part of game '<a href="{% url "game-detail" pk=company.globalenv.pk %}">{{company.globalenv}}</a>'.</p>
{% endblock %}
