{% extends "topsum/company.html" %}
{% block title %}Company {{company}}{% endblock %}
{% block breadcrumb %}{{block.super}} » <a href="{% url "compperiod-detail" comp=companyperiod.company.id p=companyperiod.period%}">Period {{companyperiod.period}}</a> {% endblock %}
{% block content %}
<h1>Company '{{company}}' in period {{object.period}}</h1>

<table border=1>
  <tr><th>Name</th><th>Logo</th><th>Period</th></tr>
  <tr><td><a href="{% url 'company-detail' pk=company.pk %}">{{company.name}}</a></td><td><img src="{{company.logo}}"/></td><td>{{companyperiod.period}}</td></tr>
</table>
<h2>Results</h2>
<table>
  <tr><td>Cash</td><td>{{object.cash}}</td></tr>
  <tr><td>#employees (R&D)</td><td>{{object.empl_rd}}</td></tr>
  <tr><td>#employees (sales)</td><td>{{object.empl_sales}}</td></tr>
</table>

<h3>Products</h3>
{%for productperiod in object.productperiod_set.all%}<a href="{{ productperiod.get_absolute_url }}">{{productperiod.product.name}}</a><br/>Price: {{productperiod.price}}<br/>Technology index: {{productperiod.tech_index}}{%empty%}No products available.{%endfor%}

<h3>Markets</h3>
{%for market in globalenv.market_set.all%}{{market}}{%empty%}No markets defined{%endfor%}
<h2>Actions</h2>
<h2>Notes</h2>
<p>This company is part of game '<a href="{% url "game-detail" pk=globalenv.pk %}">{{globalenv}}</a>'.</p>
{% endblock %}
