{% extends "base.html" %}{# Create/update a single game #}
{% block title %}Game {{globalmarketenv}}{% endblock %}
{% block breadcrumb %}{{block.super}} » {%if globalmarketenv %}<a href="{% url "game-detail" pk=globalmarketenv.id %}">Game '{{globalmarketenv}}'</a>{%else%}New Game{%endif%}{% endblock %}
{% block content %}
<h1>Updating game</h1>
<form method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Save">
</form>
<script>
  function slugify(Text)
  {
    return Text
        .toLowerCase()
        .replace(/\s+/g,'-')
        .replace(/[^\w-]+/g,'');
  }
  let input = document.getElementById('id_name');
  input.addEventListener ("input", function () {
      let slug = document.getElementById('id_slug');
      slug.value = slugify(this.value);
  });
</script>
{% endblock %}
