{% extends "base.html" %}{# Lists all existing games #}
{% block title %}Topsum Games{% endblock %}
{% block breadcrumb %}{{block.super}} » <a href="">List of Game</a> {% endblock %}
{% block content %}
<h1>Welcome to topsum</h1>
<p>The following games exist:</p>
<ul>
{%for game in globalmarketenv_list%}  <li><a href="{% url 'game-detail' pk=game.pk%}">{{game}}</a> <span class="button"><a href="{% url 'game-edit' pk=game.pk %}">Edit</a></span></li>
{% empty %}<strong>No games exist in our database yet! Create one first.</strong>{%endfor%}
</ul>
<p>Create a <span class="button"><a href="{% url 'game-create' %}">new game</a></span>.</p>
{% endblock %}
