{% extends "topsum/globalmarketenv.html" %}
{% block content %}
<table border=1>
  <tr><th>Name</th><th>Period</th><th>Status</th></tr>
  <tr><td>{{globalenv.name}}</td><td>{{object.current_period}} of {{object.total_periods}}</td><td>{{globalenv.status_name}}</td></tr>
</table>
{%if user.is_staff %}<a class="button" href="{% url "game-edit" pk=globalenv.id %}">Edit game</a> <a class="button" href="{% url "game-advance" pk=globalenv.id %}">Advance game</a>{%endif%}
<h2>Companies:</h2>
<ul>
{% for company in globalenv.company_set.all %}
<li><a href="{% url 'company-detail' pk=company.pk %}">{{company}}</a> {%if user.is_staff %}<a class="button" href="{% url "company-edit" pk=company.pk %}?next={% url 'game-detail' pk=globalenv.id %}">Edit</a>{%endif%}</li>
{% endfor %}
</ul>
{%if object.current_period == 1 and user.is_staff %}<a class="button" href="{% url "company-create" game_id=globalenv.id %}?next={% url 'game-detail' pk=globalenv.id %}">Add company</a>{%endif%}


<h2>Markets in this game:</h2>
<ul>
{% for market in globalenv.market_set.all %}
<li><a href="{% url 'market-detail' pk=market.pk %}">{{market.name}}</a> {%if user.is_staff %}<a class="button" href="{% url 'market-edit' pk=market.pk %}?next={% url 'game-detail' pk=globalenv.id%}">Edit</a>{%endif%}</li>
{% endfor %}
</ul>
{%if user.is_staff %}<a class="button" href="{% url "market-create" game_id=globalenv.id %}?next={% url 'game-detail' pk=globalenv.id %}">Add market</a>{%endif%}

<h2>Products:</h2>
<ul>
{% for product in globalenv.product_set.all %}
<li><a href="{% url 'product-detail' pk=product.pk %}">{{product.name}}</a> {%if user.is_staff %}<a class="button" href="{% url 'product-edit' pk=product.pk %}?next={% url 'game-detail' pk=globalenv.id%}">Edit</a>{%endif%}</li>
{% endfor %}
</ul>
{%if user.is_staff %}<a class="button" href="{% url "product-create" game_id=globalenv.id %}?next={% url 'game-detail' pk=globalenv.id%}">Add Product</a>{%endif%}
{% endblock %}
