{% extends "topsum/globalmarketenv.html" %}
{% block breadcrumb %}{{block.super}} » <a href="{% url "market-detail" pk=market.id %}">Market '{{market}}'</a>{% endblock %}
{% block content %}
<table border=1>
  <tr><th>Name</th></tr>
  <tr><td>{{market.name}}</td></td></tr>
</table>
{% endblock %}
