{% extends "topsum/globalmarketenv.html" %}
{% block breadcrumb %}{{block.super}} » <a href="{% url "product-detail" pk=product.id %}">Product '{{product.name}}'</a>{% endblock %}
{% block content %}
<table border=1>
  <tr><th>Name</th><th>Introduced (period)</th></tr>
  <tr><td>{{product.name}}</td><td>{{product.intro_period}}</td></tr>
</table>
{% endblock %}
