{% extends "topsum/globalmarketenv.html" %}{# Create/update a single product #}
{% block title %}Editing Product{% endblock %}
{% block breadcrumb %}{{block.super}} » Editing product{% endblock %}
{% block content %}
<h1>Updating Product</h1>
<form method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Save">
</form>
<script>
  function slugify(Text)
  {
    return Text
        .toLowerCase()
        .replace(/\s+/g,'-')
        .replace(/[^\w-]+/g,'');
  }
  let input = document.getElementById('id_name');
  input.addEventListener ("input", function () {
      let slug = document.getElementById('id_slug');
      slug.value = slugify(this.value);
  });
</script>
{% endblock %}
